<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/img/logo.png" type="image/png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css" type="text/css">
  <script type="text/javascript" src="/scripts/src/admin-tabs.js"></script>
  <meta charset="UTF-8">
  <meta name="keywords" content="квест, квест по станциям, ar">
</head>

<body class="body">

<script>
  if (!localStorage.getItem('isAdmin')) {
    window.location.href = '/';
    alert('You are not admin')
  }
</script>
<header class="header">
  <p id="name_of_user" style="margin-left: 15px; margin-right: auto"></p>
  <script src="/scripts/src/nameOfUser.js"></script>

  <h2>Квест по станциям</h2>

  <button id="logoutButton">
    <svg style="cursor: pointer" width="50px" height="50px" viewBox="0 0 1.5 1.5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.625 0.75h0.5m0 0 -0.156 -0.139M1.125 0.75l-0.156 0.139m0.156 -0.444V0.313a0.063 0.063 0 0 0 -0.063 -0.063H0.438a0.063 0.063 0 0 0 -0.063 0.063v0.875a0.063 0.063 0 0 0 0.063 0.063h0.625a0.063 0.063 0 0 0 0.063 -0.063v-0.132" stroke="#464455" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.0625"/></svg>
  </button>
  <script src="/scripts/src/logout.js"></script>
</header>


<main id="main">
  <div class="tab" id="tab-auth">
    <button class="tablinks" onclick="openTab(event, 'stations')" id="defaultOpen">Станции</button>
    <button class="tablinks" onclick="openTab(event, 'animations')">Анимации</button>
  </div>

  <section id="stations" class="tabcontent">
    <article class="new-station">
      <form method="post" class="form" id="newMarker" style="max-width: 70%">
        <h3>Создание новой станции</h3>
        <p class="file-requirements" >Файл маркера должен быть формата .patt <br> Для преобразования файла черно-белого изображения в нужный формат можно воспользоваться <a target="_blank" href="https://jeromeetienne.github.io/AR.js/three.js/examples/marker-training/examples/generator.html">сайтом</a></p>
        <label class='btn1' for='markerinput' style="width: max-content; margin-left: auto; margin-right: auto;">
          <input type='file' id='markerinput' accept=".patt" style='display: none'>
          Маркер
        </label>
        <input class="marker_text" id="marker-text-input" type='text' placeholder="Введите текст">

        <button type="submit" class="btn1" id="addbtn">Добавить</button>
      </form>
      <script src="scripts/src/createStation.js"></script>


    </article>
    <article class="stations-list">
      <h3>Станции квеста</h3>

      <table>
        <thead>
        <tr>
          <th>Маркер</th>
          <th>Текст</th>
          <th>Изменить</th>
        </tr>
        </thead>
        <tbody  id="markers">
        <template id="marker">
          <tr class="marker_line">
            <td class="marker-patt"></td>
            <td class="marker-text"></td>
            <td>
              <button id="edit-station">
                <svg style="margin-right:30%; margin-left: 10%" fill="#000000" width="25px" height="25px" viewBox="0 0 0.75 0.75" xmlns="http://www.w3.org/2000/svg"><path d="M0.656 0.375a0.031 0.031 0 0 0 -0.031 0.031v0.188a0.031 0.031 0 0 1 -0.031 0.031H0.156a0.031 0.031 0 0 1 -0.031 -0.031V0.156a0.031 0.031 0 0 1 0.031 -0.031h0.188a0.031 0.031 0 0 0 0 -0.063H0.156a0.094 0.094 0 0 0 -0.094 0.094v0.438a0.094 0.094 0 0 0 0.094 0.094h0.438a0.094 0.094 0 0 0 0.094 -0.094v-0.188a0.031 0.031 0 0 0 -0.031 -0.031Zm-0.469 0.024V0.531a0.031 0.031 0 0 0 0.031 0.031h0.133a0.031 0.031 0 0 0 0.022 -0.009l0.216 -0.217L0.678 0.25a0.031 0.031 0 0 0 0 -0.044l-0.133 -0.134a0.031 0.031 0 0 0 -0.044 0l-0.088 0.088 -0.217 0.217a0.031 0.031 0 0 0 -0.009 0.022Zm0.336 -0.261 0.088 0.088 -0.044 0.044 -0.088 -0.088ZM0.25 0.412l0.185 -0.185 0.088 0.088L0.338 0.5H0.25Z"/></svg>
              </button>
              <button id="delete-station">
                <svg width="25px" height="25px" viewBox="0 0 0.625 0.625" xmlns="http://www.w3.org/2000/svg"><path fill="#000" d="M0.285 0h0.062a0.107 0.107 0 0 1 0.063 0.034 0.09 0.09 0 0 1 0.022 0.054h0.172C0.615 0.087 0.625 0.098 0.625 0.109a0.022 0.022 0 0 1 -0.022 0.022H0.546v0.363c0 0.08 -0.03 0.13 -0.095 0.13H0.169C0.103 0.623 0.073 0.573 0.073 0.494V0.132H0.022A0.022 0.022 0 0 1 0 0.11C0 0.098 0.01 0.088 0.022 0.088h0.172c0 -0.016 0.006 -0.033 0.018 -0.048C0.226 0.015 0.251 0.003 0.285 0Zm0.218 0.132H0.117v0.363c0 0.059 0.016 0.087 0.051 0.087H0.45C0.485 0.583 0.503 0.553 0.503 0.495V0.132Zm-0.292 0.067c0.011 0 0.022 0.01 0.022 0.022v0.251a0.022 0.022 0 0 1 -0.022 0.022 0.022 0.022 0 0 1 -0.022 -0.022V0.22c0 -0.013 0.01 -0.022 0.022 -0.022Zm0.085 0C0.307 0.198 0.317 0.208 0.317 0.22v0.251a0.022 0.022 0 0 1 -0.022 0.022 0.022 0.022 0 0 1 -0.022 -0.022V0.22C0.273 0.208 0.283 0.198 0.295 0.198Zm0.085 0c0.011 0 0.022 0.01 0.022 0.022v0.251a0.022 0.022 0 0 1 -0.022 0.022A0.022 0.022 0 0 1 0.358 0.471V0.22C0.358 0.208 0.368 0.198 0.38 0.198ZM0.287 0.044C0.267 0.045 0.253 0.053 0.245 0.065a0.06 0.06 0 0 0 -0.01 0.023h0.153a0.035 0.035 0 0 0 -0.011 -0.025 0.05 0.05 0 0 0 -0.033 -0.019H0.287Z"/></svg>
              </button>
              </td>
          </tr>
        </template>
      </table>
    </article>
  </section>

  <section id="animations" class="tabcontent">
    <article>
      <h3>Добавить анимацию</h3>
    </article>
  </section>
</main>


<script>
  document.getElementById("defaultOpen").click();
</script>
<script src="scripts/src/getMarkers.js"></script>
<footer class="footer">
  <button class="btn1" onclick="window.location.href = '/results'">Результаты</button>
</footer>
</body>
</html>