.body {
    font-family: 'Neucha', cursive;
    font-size: 36px;
}

.header {
    background: #c6ffec;
    position: -webkit-sticky;
    position: sticky;
    height: 100px;
    width: 100%;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99;
    top: 0;
    font-size: 28px;
}

.header h2 {
    margin-right: auto;
    margin-left: auto;
}

#logoutButton {
    background: none;
    border: none;
    padding: 0;
    margin-right: 15px;
    margin-left: auto;
}

.header a {
    text-decoration: none;
    color: #000;
}

.btn1 {
    font-family: 'Neucha', cursive;
    font-size: 32px;
    padding: 7px 30px;
    margin: 15px;
    outline: none;
    border: 1px solid #c6ffec;
    border-radius: 50px;
    text-decoration: none;
    background-color: #c6ffec;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    vertical-align: top;
    transition: box-shadow 0.2s;
}
.btn1:focus-visible {
    border: 1px solid #fff;
    outline: none;
}
.btn1:hover {
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn1:active {
    background-color: #eeeeee;
}
.btn1:disabled {
    background-color: #eee;
    cursor: not-allowed;
}

.marker_text {
    border: 1px solid #c6ffec;
    padding: 7px 30px;
    border-radius: 50px;
    font-family: 'Neucha', cursive;
    font-size: 32px;
}

.marker_text:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

section {
    margin-left: 60px;
}

#addbtn {
    margin: 60px auto;
    display: block;
}
#addbtn:hover {
    background: #e3fff6;
}

.file-requirements {
    font-size: 24px;
    color: #666;
    padding: 20px;
    margin-top: 10px;
}

label {
    display: block;
}

.tab {
    overflow: hidden;
    padding-top: 25px;
    padding-left: 30px;
}
.tab button {
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border: 1px solid #c6ffec;
    border-radius: 50px;
    font-family: 'Neucha', cursive;
    font-size: 24px;
    margin-right: 20px;
    background: #fff;
}

.tab button:hover {
    background-color: #e3fff6;
}
.tab button.active {
    background: rgb(198,255,236);
    background: linear-gradient(180deg, rgba(198,255,236,1) 0%, rgba(227,255,246,1) 35%, rgba(241,255,250,1) 100%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

table {
    display: grid;
    border-collapse: collapse;
    min-width: 90%;
    margin: auto 2% 60px;
    font-size: 28px;
    grid-template-columns:
    minmax(150px, 2fr)
    minmax(150px, 8fr)
    minmax(150px, 2fr)
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 20px;
    overflow: auto;
    white-space: nowrap;
}

th {
    background: #c6ffec;
    text-align: left;
    font-weight: normal;
    font-size: 1.2em;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

tr:nth-child(even) td {
    background: #e3fff6;
}

.form {
    text-align: center;
    border: 3px solid #c6ffec;
    border-radius: 50px;
    width: max-content;
    margin: auto;
    background: #f1fffa;
    padding: 0 30px;
}

.input_data {
    border: 3px solid #c6ffec;
    font-family: 'Neucha', cursive;
    font-size: 32px;
    border-radius: 50px;
    padding: 15px 20px;
    margin: 20px;
    background: white;
}

#tab-auth {
    width: 100%;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.link {
    color: #b8eddb;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f1fffa;
    margin: 10% auto;
    padding: 20px;
    border: 3px solid #c6ffec;
    border-radius: 50px;
    width: max-content;
}

#modelViewerContainer {
    position: relative;
}